.idea
.vscode
__pycache__
venv
.venv
# .env
# Ignore Jupyter notebook backup files
*-checkpoint.ipynb
.DS_Store
module_webapp/static/images/
module_webapp/static/thumbnails/

module_webapp/database.db
!pybot/module_haut_parleur/fichiers_audio/derniere_lecture.wav
.env