.idea
.vscode
__pycache__
venv
.venv
# .env
# Ignore Jupyter notebook backup files
*-checkpoint.ipynb
.DS_Store
module_webapp/database/images/
module_webapp/database/thumbnails/

module_webapp/database/users.db
./pybot/module_haut_parleur/fichiers_audio/derniere_lecture.wav
.env