<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
	<meta charset="UTF-8">
    <title>Robot Python - Edit</title>
	<link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
</head>

<body>
	{% block content %}
    <a href="{{ url_for('admin.index') }}" class="buttonMenu">MENU</a>
    <h3>Modification d'un élève</h3>
    <form id="patch-form" class="form-example" enctype="multipart/form-data">
        <p>ID: {{ user['id']}}</p>
        <div class="form-example">
            <label for="name">Prénom: </label>
	    <input type="text" name="first_name" required value="{{ user['first_name']}}"/>
            <label for="name">Nom: </label>
	    <input type="text" name="last_name" required value="{{ user['last_name']}}"/>

        <input type="file" id="picture" name="picture" accept="image/*" onchange="displayImage(this)">
        <label for="db-img">L'image actuelle</label>
		<img id="db-img" alt="student picture" src="{{ user['picture'].locate()}}">

        <label for="uploaded-img">La nouvelle image</label>
		<img id="uploaded-img" alt="new student picture">

        <label for="conversation_summary">OpenAI chat messages:</label>
	    <textarea id="conversation_summary" style="display:block;width:800px; height: 300px" type="text" name="conversation_summary">{{ user['conversation_summary'] }}</textarea>
        </div>
		<div id="error"></div>
        <div class="form-example">
            <input type="submit" value="Appliquer les modifications" />
        </div>
    </form>

        <button id="crop-btn" onclick="crop()" style="display:none">Détourer la carte dans votre image</button>
    <button onclick="deleteUser({{ user['id'] }})">delete</button>


	<script>
	cropBlob = null;
	const uploadedImg = document.getElementById('uploaded-img');
	const cropBtn = document.getElementById('crop-btn');
	const inputField = document.getElementById('picture');
	set_msg = error => document.getElementById("error").innerHTML = "Error: " + error

	document.getElementById("patch-form").onsubmit = async (e) => {
	  e.preventDefault();
	  const formData = new FormData(e.target);

	  /* If user cropped the image, use it in the request instead of the original uploaded file. */
	  if (cropBlob) {
	    const existingFilename = formData.get('picture').name;
	    formData.set('picture', cropBlob, existingFilename);
	  }
	  const response = await fetch("/api/users/{{ user['id'] }}", {
	    method: "PATCH",
	    body: formData
	  })
	  const data = await response.json();
	  if (response.ok)
	    location.reload()
	  else
	    set_msg(data.message)
	}

	deleteUser = id => fetch(`/api/users/${id}`, {
	  method: "DELETE"
	}).then(() => location.href = "{{ url_for('admin.index') }}").catch(e => console.log(e));

	/* Use our API to crop the card detected in the uploaded image, then display the cropped image user is about to upload. */
	crop = async (e) => {
	  const formData = new FormData();
	  const inputValue = inputField.files[0];

	  formData.append('image', inputValue);
	  try {
	    const response = await fetch("/api/image-processing/find-card", {
	      method: "POST",
	      body: formData
	    });

	    cropBlob = await response.blob()
	    const blobUrl = URL.createObjectURL(cropBlob);

	    // Display the image in the <img> element
	    uploadedImg.src = blobUrl;
	    cropBtn.style.display = "none";
	    set_msg("Image détourée avec succès.");
	  } catch (err) {
	    set_msg("Error: " + err);
	  }
	}

	/* Show the uploaded file image */
	displayImage = input => {
	  if (!input.files || !input.files[0])
	    return;
	  const reader = new FileReader();
	  reader.onload = e => uploadedImg.src = e.target.result;
	  reader.readAsDataURL(input.files[0]);
	  cropBtn.style.display = "block";
	  uploadedImg.style.display = "block";
	}
	</script>
    {% endblock %}
</body>

</html>
