<!DOCTYPE html>
<html>

<head>
    <title>FlaskTest {{name}}</title>
	<link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
</head>

<body>
{% block content %}
    <p>This is a Flask application.</p>
    <h3>Welcome, {{name}}</h3>
    <form action="/api/users" method="POST" class="form-example" enctype="multipart/form-data">
        <label for="picture">Choose an image:</label>
        <input type="file" id="picture" name="picture">
        <div class="form-example">
            <label for="name">Enter your name: </label>
	    <input type="text" name="name" required />
        </div>
        <div class="form-example">
            <input type="submit" value="Subscribe!" />
        </div>
    </form>

{% endblock %}
    <a href="/" class="buttonMenu">MENU</a>
</body>

</html>
