<!DOCTYPE html>
<html>

<head>
    <title>FlaskTest</title>
	<link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
</head>

<body>
    <h3>Ajout d'un élève</h3>
    <form action="/api/users" method="POST" class="form-example" enctype="multipart/form-data" target="responseFrame">
        <label for="picture">Selectionnez une image:</label>
        <input type="file" id="picture" name="picture">
        <div class="form-example">
            <label for="name">Entrez un nom: </label>
	    <input type="text" name="name" required />
        </div>
        <div class="form-example">
            <input type="submit" value="Créer" />
        </div>
    </form>

    <iframe name="responseFrame" style="display: none;"></iframe>

    <a href="/" class="buttonMenu">MENU</a>
</body>

</html>
