<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    <!-- <link rel="stylesheet" href={{url_for('static', filename='style.css')}}> -->
</head>

<body>
    <a href="/" class="buttonMenu">MENU</a>
    <br>
    {% block content %}
    {% for student in posts %}
    <a href={{student['name']}}_{{student['firstname']}} class="button1">Nom : {{ student['name'] }} Prenom : {{
        student['firstname'] }}</a>
    <br />
    {% endfor %}
    {% endblock %}

</body>

</html>