<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    <!-- <link rel="stylesheet" href={{url_for('static', filename='style.css')}}> -->
</head>

<body>
    <a href="/" class="buttonMenu">MENU</a>
    <br>
    {% block content %}
    {% for user in users %}
    <a href={{user['name']}} class="button1">Nom : {{ user['name'] }}</a>

    <a href="{{ user['picture'].locate() }}">
        <img
            src="{{ user['picture'].get_thumbnail(width=48, auto_generate=True).locate() }}"
            alt="Uploaded Image">
    </a>
    <br />
    {% endfor %}
    {% endblock %}

</body>

</html>
