<head>
    <title>Login</title>
</head>

<body>
    <h3>Se connecter</h3>
    <form action="" method="post" class="form-example">
        <div class="form-login">
            <label for="id">identifiant: </label>
            <input type="text" name="id" id="id" required />
        </div>
        <div class="form-login">
            <label for="email">Mot de passe: </label>
            <input type="password" name="password" id="password" required />
        </div>
        <div class="form-example">
            <input type="submit" value="Subscribe!" />
        </div>
    </form>

</body>

</html>
