<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href={{url_for('static', filename='style.css')}}> -->
    <title>Search</title>
</head>

<body>
    {% block content %}
    <p>This is a Flask application.</p>
    <h3>Welcome, {{name}}</h3>
    <form action="/list" method="get">
        <label for="inputContent">User name:</label>
        <input type="text" id="inputContent" name="name">
        <button type="submit">Search</button>
    </form>
    {% endblock %}
    <a href="/" class="buttonMenu">MENU</a>
</body>

</html>
