<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
    <title>Search</title>
</head>
<body>
{% block content %}
	<p>This is a Flask application.</p>
	<h3>Welcome, {{name}}</h3>
	<form action="" method='POST' class="form-example">
        <div class="form-example">
            <label for="name">Enter name to search: </label>
            <input type="text" name="name" value="{{ request.form['name']}}"required />
        </div>
        <div class="form-example">
            <input type="submit" value="Search!" />
        </div>
    </form>
{% endblock %}
    <a href="/" class="buttonMenu">MENU</a>
</body>
</html>
