<!DOCTYPE html>
<html>

<head>
    <title>Robot Python - Add</title>
	<link rel="stylesheet" href={{url_for('static', filename='style.css')}}>
</head>

<body>
    <a href="{{ url_for('admin.index') }}" class="buttonMenu">MENU</a>

    <h3>Ajout d'un élève</h3>

    <form id="add-form" class="form-example" enctype="multipart/form-data">
        <label for="picture">Selectionnez une image:</label>
        <input type="file" id="picture" name="picture">
        <div class="form-example">
            <label for="name">Prénom: </label>
	    <input type="text" name="first_name" required />
            <label for="name">Nom: </label>
	    <input type="text" name="last_name" required />
        </div>
        <label for="openai_chat_messages">OpenAi chat messages:</label>
	    <textarea id="openai_chat_messages" style="display:block;width:800px; height: 100px" type="text" name="openai_chat_messages" placeholder='[
    {"role": "system", "content": "You are a helpful assistant."},
    {"role": "user", "content": "Who won the world series in 2020?"},
    {"role": "assistant", "content": "The Los Angeles Dodgers won the World Series in 2020."},
    {"role": "user", "content": "Where was it played?"}
]'></textarea>
        <div id="msg"></div>
        <div class="form-example">
            <input type="submit" value="Créer" />
        </div>
    </form>

    <script>
	 set_msg = msg => document.getElementById("msg").innerHTML = msg

	 document.getElementById("add-form").onsubmit = async(e) => {
	 	 e.preventDefault();
	 	 const formData = new FormData(e.target);
	 	 const response = await fetch("/api/users", {method:"POST", body:formData})
	 	 const data = await response.json();
	 	 if (response.ok)
	 		 set_msg("Utilisateur ajouté avec succès")
	 	 else
	 		 set_msg("Error: " + data.message)
	 }
    </script>

</body>

</html>
